.input{
    display: list-item;
    margin-top: 80%;
    height: 65%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.content{
    --background: url('../assets/poap_logo.png') top center no-repeat;
    display: flex;
}

.megacontainer{
    overflow: hidden;
}

.header{
    text-align: center;
}

.login-btn{
    --background: #f85f6a;
    display: block;
    margin-top: 10%;
    width:50%;
    margin-left:25%
}

.change{
    margin-top:65%
}

.change-btn{
    --background: #f85f6a;
    display: block;
    margin-top: 10%;
    width:50%;
    margin-left:25%
}

.button-save{
    margin-top: 10%;
    display:grid;
    
}