

.poaps-title{
    text-align: center;
}

.poapsIMG{
  border-radius: 10%;
  width: 100px;
  height:100px;
}

ion-thumbnail {
  --size: 140px;
  --border-radius: 14px;
}

.align_thumbnail {
  margin-left: 35%;
}
